/* This contains the scss for the header component */

//Libraries -->
@import "@/styles/base.module";

//Commencing the code -->
.header {
    //border: 1px solid red;
    @include max-size;
    @include size(86%, 60px);
    margin: 0px;
    left: 0px;
    top: 0px;
    @include flexBar($position: absolute, $align: center, $justify: space-between);
    @include text-layout($size: 14px, $l_height: 27px, $weight: 600);
    padding: 10px 7%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);//, 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
    z-index: 20%;
    position:fixed;
    top:0;
    z-index: 10;
    background-color: white;
}
    
    .logo {
        //border: 1px solid red;
        @include flexBar($position: relative, $align: flex-start, $justify: flex-start);
        @include size(55%, 70%);
        background-color: transparent;
        border: none;
   padding-bottom: 3%;

        @include phonePro {
            width: 25%;
        }

        span {
            @include text-layout($size: 25px, $l_height: 28px, $weight: 700, $family: "Poppins", $color: $text-color-1);
        }
    }

    .navBar {
        @include flexBar($position: relative, $align: center, $justify: space-between);
        //border: 1px solid red;
        @include size(40%, 70%);

        @include tabletPro {
            //border: 1px solid green;
            width: 50%;
        }

        @include tablet {
            width: 60%;
        }

        @include phonePro {
            display: none;
        }

        form {
            //border: 1px solid red;
            @include flexBar($position: relative, $align: center, $justify: flex-start);
            @include size(55%, 70%);

            button {
                //border: 1px solid black;
                background-color: transparent;
                position: absolute;
                z-index: 5;
                left: 10px;
                border: none;
                //height: 100%;

                .icon {
                    opacity: 0.3;
                }
            }

            input {
                border: 1px solid $tertiary-color-1;
                position: relative;
                @include size;
                //padding: 5px;
                padding: 1% 2% 1% 20.5%;
                border-radius: 10px;

                @include tabletPro {
                    padding: 1% 2% 1% 23%;
                }

                @include tablet {
                    padding: 1% 2% 1% 24%;
                }

                ::placeholder {
                    @include text-layout($size: 16px, $l_height: 22px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
                    opacity: 0.7%;
                }
            }
        }

        .profile, .whyUs {
            @include text-layout($size: 14px, $l_height: 20px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
            //border: 1px solid red;
            border: none;
            background-color: transparent;
        }
    }

    .menu {
        display: none;

        @include phonePro {
            @include flexBar($position: relative, $align: center, $justify: center);
            background-color: transparent;
            height: 70%;
            border: none;

            .icon {
                font-size: 2rem;
                //border: 1px solid red;
            }
            
        }
    }


%menuBar {
    display: none;

    @include phonePro {
        //border: 1px solid red;
        @include max-size;
        @include size(75%, 100%);
        margin: 0px;
        left: 0px;
        top: 82px;
        @include flexBar($position: absolute, $align: center, $justify: flex-start, $flex_d: column, $gap: 2%);
        background-color: white;
        z-index: 10;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        padding: 3% 0%;
    }

    form {
        //border: 1px solid red;
        @include flexBar($position: relative, $align: center, $justify: flex-start);
        @include size(90%, 5%);

        button {
            //border: 1px solid black;
            border: none;
            background-color: transparent;
            position: absolute;
            z-index: 5;
            left: 10px;
            //height: 100%;

            .icon {
                opacity: 0.3;
            }
        }

        input {
            border: 1px solid $tertiary-color-1;
            position: relative;
            @include size;
            //padding: 5px;
            padding: 1% 2% 1% 20.5%;
            border-radius: 10px;
            @include text-layout($size: 18px, $l_height: 20px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);

            @include phoneMini {
                @include text-layout($size: 16px, $l_height: 20px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
                padding: 1% 2% 1% 27%;
            }

            ::placeholder {
                @include text-layout($size: 20px, $l_height: 22px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
                opacity: 0.7%;
            }
        }
    }

    .profile, .whyUs {
        @include text-layout($size: 18px, $l_height: 20px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
        //border: 1px solid red;
        border: none;
        background-color: transparent;
        @include size(90%, 5%);

        @include phoneMini {
            @include text-layout($size: 16px, $l_height: 20px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
        }
    }
}

.activeMenu {
    @extend %menuBar;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transform: translateX(0%);
}

.inactiveMenu {
    @extend %menuBar;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transform: translateX(-102%);
}