/* This contains the scss for the course component */

//Libraries -->
@import "@/styles/base.module";

//Commencing the code -->
.main {
    //border: 1px solid green;
    // @include flexBar($align: center, $justify: center, $gap: 2%);
    @include flexBar($position: absolute, $align: center, $justify: center, $gap: 2%, $flex_d: column);
    @include size($height: 700px);
    margin: 0px;
    left: 0px;
    top: 1485px;

    @include phonePro {
        top: 1900px;
    }

    .span1 {
        //border: 1px solid red;
        @include text-layout($size: 32px, $l_height: 42px, $weight: 700, $family: "Poppins", $color: $text-color-2);
        position: relative;
        width: 83%;
        text-align: start;

        @include phonePro {
            font-size: 27px;
            line-height: 35px;
        }
    }

    .category {
        //border: 1px solid green;
        @include flexBar($position: relative, $align: center, $justify: center, $gap: 2%, $flex_d: row);
        width: 83%;

        @include tabletPro {
            display: none;
        }

        @include phonePro {
            display: none;
        }

        button {
            background-color: transparent;
            @include flexBar($position: relative, $align: center, $justify: center, $gap: 2%, $flex_d: row);
            border: none;

            span {
                //border: 1px solid red;
                @include text-layout($size: 15px, $l_height: 20px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
                opacity: 0.7;
            }

            .activeCategory {
                //border: 1px solid blue;
                font-weight: 700;
                opacity: 1;
                border-bottom: 2px solid $text-color-2;
            }
        }
    }

    .sortCategory {
        @include desktop {
            display: none;
        }

        //border: 1px solid green;
        @include flexBar($position: relative, $align: center, $justify: space-between, $gap: 2%);
        @include size(40%, 5%);
        left: -22%;;


        @include tablet {
            width: 50%;
            left: -18%;
        }

        @include phonePro {
            width: 83%;
            left: auto;
        }

        // @include phoneMini {
        //     width: 50%;
        // }

        .sortIcon {
            font-size: 1.2rem;
            color: $primary-color;
            position: absolute;
            left: 1.5%;
            z-index: 1;

            @include phoneMini {
                font-size: 1rem;
            }
        }

        select {
            @include size(100%, 100%);
            border: none;
            position: relative;
            border-bottom: 1px solid $primary-color;
            //padding: 0% 0% 0% 18%;
            //font-size: 13px;
            background-color: transparent;
            @include text-layout($size: 16px, $l_height: 20px, $color: $text-color-2, $family: "Noto Serif", $weight: 500);

            @include phonePro {
                font-size: 13px;
                //padding: 0% 0% 0% 15%;
            }

            @include phoneMini {
                font-size: 10px;
            }

            option {
                color: black;
            }
        }

        :focus {
            outline-color: transparent;
        }
    }

    .courses {
        //border: 1px solid red;
        @include flexBar($position: relative, $align: flex-start, $justify: center, $gap: 1%, $flex_d: row, $wrap: wrap);
        //padding: 1%;
        row-gap: 4%;
        column-gap: 2%;
        @include size(83%, 75%);
        overflow-x: hidden;
        overflow-y: auto;

        @include tabletPro {
            width: 85%;
        }

        .carousel {
            //border: 1px solid black;
            @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 2%, $flex_d: column);
            @include size(31%, 65%);
            border-radius: 10px;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
            overflow: hidden;

            @include phonePro {
                width: 90%;
            }

            .imageDiv {
                //border: 1px solid green;
                overflow: hidden;
                @include flexBar($position: relative, $align: center, $justify: center, $gap: 2%, $flex_d: row);
                @include size(100%, 40%);

                .image {
                    object-fit: cover;
                    object-position: center 0%;
                    position: absolute;
                    @include size(100%, 100%);
                }
            }

            .brief {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: center, $gap: 1%, $flex_d: column);
                @include size(90%, 40%);

                .title {
                    //border: 1px solid red;
                    text-align: start;
                    @include text-layout($size: 16px, $l_height: 26px, $weight: 700, $family: "Noto Serif", $color: $text-color-2);
                    position: relative;
                    @include size(100%, 20%);

                    @include tabletPro {
                        font-size: 14px;
                        line-height: 20px;
                    }

                    @include tablet {
                        line-height: 18px;
                        height: auto;
                    }

                    @include phonePro {
                        font-size: 14px;
                        line-height: 20px;
                        height: auto;
                    }

                    @include phoneMini {
                        font-size: 12px;
                        line-height: 17px;
                    }
                }

                .description {
                    //border: 1px solid red;
                    text-align: start;
                    @include text-layout($size: 14px, $l_height: 20px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
                    position: relative;
                    @include size(100%, 70%);
                    opacity: 0.8;

                    @include tabletPro {
                        font-size: 12px;
                        line-height: 15px;
                    }

                    @include tablet {
                        font-size: 10px;
                        line-height: 14px;
                    }

                    @include phonePro {
                        font-size: 12px;
                        line-height: 15px;
                    }

                    @include phoneMini {
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
            }

            .info {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 5%, $flex_d: row);
                @include size(90%, 8%);
                top: 5px;

                .keyword {
                    //border: 1px solid red;
                    @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 1%, $flex_d: row);
                    @include size(auto, 100%);
                    padding: 0% 4%;
                    border-radius: 5px;
                    background-color: $tertiary-color-1;

                    span {
                        @include text-layout($size: 12px, $l_height: 18px, $weight: 400, $family: "Noto Serif", $color: $text-color-1);

                        @include tabletPro {
                            font-size: 10px;
                            line-height: 14px;
                        }
                    }
                }

                .rate {
                    //border: 1px solid red;
                    @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 5px, $flex_d: row);
                    @include size(auto, 100%);
                    padding: 0% 4%;
                    border-radius: 5px;
                    background-color: $tertiary-color-1;

                    .icon {
                        font-size: 1rem;
                        color: #E9AC00;
                    }

                    span {
                        @include text-layout($size: 12px, $l_height: 18px, $weight: 400, $family: "Noto Serif", $color: $text-color-1);

                        @include tabletPro {
                            font-size: 10px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }

    .book1 {
        position: absolute;
        z-index: 5;
        left: 91.5%;
        top: 30%;

        @include tabletPro {
            display: none;
        }

        @include phonePro {
            display: none;
        }
    }
}