/* This contains the scss for the purchase course component */

//Libraries -->
@import "@/styles/base.module";

//Commencing the code -->
.main {
    //border: 1px solid green;
    // @include flexBar($align: center, $justify: center, $gap: 2%);
    @include flexBar($position: absolute, $align: center, $justify: center, $gap: 5%, $flex_d: column);
    @include size($height: 600px);
    margin: 0px;
    left: 0px;
    top: 85px;

    .path {
        //border: 1px solid salmon;
        @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%, $flex_d: row);
        width: 85%;

        button {
            border: none;
            background-color: transparent;
        }

        span {
            @include text-layout($size: 14px, $l_height: 20px, $weight: 500, $family: "Noto Serif", $color: $text-color-2);
        }

        .icon {
            color: $text-color-2;
        }
    }

    .bottom {
        //border: 1px solid salmon;
        @include flexBar($position: relative, $align: flex-start, $justify: space-between, $gap: 0%, $flex_d: row);
        @include size(85%, 80%);

        .brief {
            //border: 1px solid salmon;
            @include flexBar($position: relative, $align: flex-start, $justify: flex-start, $gap: 4%, $flex_d: column);
            @include size(50%, 100%);

            .brief1 {
                //border: 1px solid salmon;
                @include text-layout($size: 16px, $l_height: 20px, $weight: 700, $family: "Poppins", $color: $text-color-2);
            }

            .brief2 {
                //border: 1px solid salmon;
                @include flexBar($position: relative, $align: flex-start, $justify: flex-start, $gap: 20px, $flex_d: column);

                .span1 {
                    @include text-layout($size: 28px, $l_height: 32px, $weight: 700, $family: "Poppins", $color: $text-color-2);
                    position: relative;
                }

                .span2 {
                    @include text-layout($size: 16px, $l_height: 20px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
                    position: relative;
                }
            }

            .info {
                //border: 1px solid salmon;
                @include flexBar($position: relative, $align: flex-start, $justify: flex-start, $gap: 10px, $flex_d: column);
                width: 85%;
                
                .rating {
                    //border: 1px solid red;
                    @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 20px, $flex_d: row);

                    .div {
                        //border: 1px solid red;
                        @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 2%, $flex_d: row);

                        span {
                            @include text-layout($size: 10px, $l_height: 15px, $weight: 400, $family: "Noto Serif", $color: $star-color);
                        }

                        .icon {
                            font-size: 0.8rem;
                            color: $star-color;
                        }
                    }

                    .span {
                        @include text-layout($size: 10px, $l_height: 15px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
                        position: relative;
                    }
                }

                .duration {
                    @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 2%, $flex_d: row);
                    width: 50%;

                    span {
                        @include text-layout($size: 12px, $l_height: 15px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
                    }
                }

                .author {
                    @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 2%, $flex_d: row);
                    width: 50%;

                    span {
                        @include text-layout($size: 12px, $l_height: 15px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
                    }
                }
            }
        }

        .card {
            @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 3%, $flex_d: column);
            @include size(35%, 90%);
            //border: 1px solid red;
            border-radius: 10px;
            overflow: hidden;
            background-color: $tertiary-color;
            top: 0%;
            box-shadow: 4px 4px 4px rgba(9, 19, 160, 0.3), 4px 4px 4px rgba(10, 18, 130, 0.3), 4px 4px 8px rgba(10, 18, 130, 0.3);

            .imageDiv {
                //border: 1px solid green;
                overflow: hidden;
                @include flexBar($position: relative, $align: center, $justify: center, $gap: 2%, $flex_d: row);
                @include size(100%, 40%);
    
                .image {
                    object-fit: cover;
                    object-position: center 0%;
                    position: absolute;
                    @include size(100%, 100%);
                }
            }
    
            .brief {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: center, $gap: 5px, $flex_d: column);
                @include size(90%, 30%);

                .title {
                    //border: 1px solid red;
                    text-align: start;
                    @include text-layout($size: 16px, $l_height: 26px, $weight: 700, $family: "Noto Serif", $color: $text-color-2);
                    position: relative;
                    @include size(100%, 20%);

                    @include tabletPro {
                        font-size: 14px;
                        line-height: 20px;
                    }

                    @include tablet {
                        line-height: 18px;
                        height: auto;
                    }

                    @include phonePro {
                        font-size: 14px;
                        line-height: 20px;
                        height: auto;
                    }

                    @include phoneMini {
                        font-size: 12px;
                        line-height: 17px;
                    }
                }

                .description {
                    //border: 1px solid red;
                    text-align: start;
                    @include text-layout($size: 14px, $l_height: 18px, $weight: 400, $family: "Noto Serif", $color: $text-color-2);
                    position: relative;
                    @include size(100%, 70%);
                    opacity: 0.8;

                    @include tabletPro {
                        font-size: 12px;
                        line-height: 15px;
                    }

                    @include tablet {
                        font-size: 10px;
                        line-height: 14px;
                    }

                    @include phonePro {
                        font-size: 12px;
                        line-height: 15px;
                    }

                    @include phoneMini {
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
            }

            .total {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: space-between, $gap: 5px, $flex_d: row);
                @include size(90%, 5%);
            
                span {
                    @include text-layout($size: 16px, $l_height: 24px, $weight: 700, $family: "Noto Serif", $color: $text-color-2);
                }

                .amount {
                    @include flexBar($position: relative, $align: center, $justify: center, $gap: 5px, $flex_d: row);
                   
                }
                .token{
                    width:21px;
                    height:21px
                }
            }

            button {
                @include flexBar($position: relative, $align: center, $justify: center, $gap: 5px, $flex_d: row);
                @include size(90%, 10%);
                background-color: $primary-color;
                border: 1px solid $primary-color;
                border-radius: 5px;

                span {
                    @include text-layout($size: 16px, $l_height: 24px, $weight: 400, $family: "Noto Serif", $color: $tertiary-color);
                }

                &:hover {
                    box-shadow: 4px 4px 4px rgba(9, 19, 160, 0.3), 4px 4px 4px rgba(10, 18, 130, 0.3), 4px 4px 8px rgba(10, 18, 130, 0.3);
                }
            }
        }
    }
}